html{
  font-family: 'Mali', cursive;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow: auto;
}
body {
  font-family: 'Mali', cursive;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

/*Custom CSS*/

.cart-link:hover{
  color:#6868ac;
}

.dropdown-item:focus, .dropdown-item:hover{
  color:#6868ac;
}


.nav-tabs .navlink:hover{
  color: #353535;
}

/* .nav-tabs .navlink.active, .navlink:focus{
  background: #6868ac !important;
  color:#ffffff !important;

} */

.nav-link, .nav-link:hover{
  color: #6868ac;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background: #6868ac !important;
  color:#ffffff !important;
}

.detail-img{
  height: 450px;
  width: 550px;
}


#add_btn{
  color:rgba(66, 66, 66, 0.2);
  background-color: #ffde22;
}

.container-me {
  border: 1px solid rgb(158, 158, 158);
}


.process-order p{
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
}

.list-product .mdb-dataTable-head th:nth-child(2){
  width: 480px
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: white;
}

.dropdown-item:active{
  background-color: #e9ecef;

}


/*Dropdown*/
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: #6868ac;
  padding: 1rem 1rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#search_btn {
  background-color: #6868ac;
  color: white;
  position: absolute;
  right:-5px;
  width: 70px;
  top: 0;
  height: 35px;
  margin-right: 10px;
  margin-top: 7px;
}

.input-group {
  width: 600px;
  margin-right: 35%;
  background-color: #e3e3e3;
  position: relative;
}

.inputSearch{
  position: relative;
  height: 50px;
  width : 640px;
  background-color: #ffffff;
  border-radius: 5px;

}

.inputSearch input{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0;
  outline: none;
}

.inputSearch input:focus{
  width: 100%;
  height: 50px;
  padding-right: 30px;
  background-color: #ffffff;
  border-radius: 5px ;
  border: 0;
}

.inputSearch button{
  position: absolute;
  right: 0;
  top : 5px;
}


#search_field {
  height: 3rem;
  padding: 1rem;
  width: 620px;
}

#login_btn,
#view_btn {
  background-color: #ffde22;
  padding: 0.4rem 1.8rem;
  font-family: 'Mali', cursive;
}

#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  color: #6868ac;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Home page */

.carousel-control-next, .carousel-control-prev{
  width: 5% !important;
}

.carousel.slide {
  padding: 0!important;
}
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #6868ac;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #6868ac;
  color: white ;
}

.card-img-top {
  width: 150px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: black;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome 5 Free';
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f005 \f005 \f005 \f005 \f005';

}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}


.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #ffde22;
  border: none;
  padding: 0.5rem 2rem;
  color: black;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 5rem;
}

/* Loader */
.lds-ellipsis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;
  margin-top: 20%;
  margin-bottom: 20%;
  padding-left: 0;
  position: relative;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #6868ac;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: #212529;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #febd69;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #ffde22;
  border-color: #ffde22;
  border-radius: 5rem;
  color: black;
}

#view_order_details {
  background-color: #ffde22;
  border-color: #ffde22;
}

#order_summary {
  padding: 3rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 4.2rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-
 {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.link-cap:hover{
  color: #6868ac;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #ffde22;
  border-color: #ffde22;
  color: black;
  margin-top: 2rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  font-family: 'Mali', cursive;
  background: #eeeeee;
}

.active-step {
  background: #ffde22;
  color: black;
  font-family: 'Mali', cursive;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #ffde22;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #ffde22;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #ffde22;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #ffde22;
  color:#000000;
  border-color: #ffde22;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
  
}

.update-btn {
  background-color: #ffde22;
  border-color: #ffde22;
  color: black;
}

.update-btn:hover {
  color: black;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #6868ac;
  border-color: #6868ac;
  color: #fff;
}

.page-link {
  color: #6868ac;
}

.page-link:hover {
  color: #6868ac;
  ;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #6868ac;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6868ac;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #6868ac;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #6868ac;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #6868ac;
}
a[data-toggle='collapse'] {
  position: relative;
}
.dropdown-toggle::after {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #6868ac;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 1rem;
  color: grey;
}

.review_createdat {
  font-size: 14px;
  color: grey;
}

.review-card{
  width: 1130px;
}

/*----------------Footer----------------*/
.footer {
    position: relative;
    padding: 30px 0 0 0;
    background: #ffffff;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.footer .footer-widget h2 {
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 20px; 
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: black;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    transition: all .3s;
}

.footer .footer-widget ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    color: #6868ac;
}

.footer .footer-widget ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.footer .contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer .contact-info p i {
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    text-align: center;
    font-size: 18px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    transition: all .3s;
}

.footer .social a:hover {
    color: #6868ac;
    border-color: #6868ac;
}

.footer .payment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method {
        margin-bottom: 15px;
    }
    
    .footer .payment-method,
    .footer .payment-security {
        text-align: center; 
    } 
}

.footer .payment-method h2,
.footer .payment-security h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}


/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}